@model Store_Front.Models.SearchViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Index</h2>

<p>
    @using (Html.BeginForm("Search","Search"))
    {
        <div class="form-inline">
            @Html.LabelFor(m => m.SearchText)
            @Html.TextBoxFor(m => m.SearchText)
            <input type="submit" class="btn btn-info" value="Search" />
        </div>

    }

</p>



