*{
    font-family:Arial;
}

#Header{
    height: 20%;
    padding:1%;
    margin-bottom:1%;
    border:solid black;
    text-align:center;
    font-size:30px;
    letter-spacing:-2px;

}

 a{
    color:black;
    text-decoration:none;
}


a:hover{
    text-decoration:none;
    font-size:14px;
}



#PageWrapper{
    position:relative;
    min-height:100%;
}

#Menu{
    height:20%;
    border:solid;
    text-align:center;
    margin-bottom:1%;
}

ul.menu{
    padding-top:10px;
    list-style-type:none;
}

li.menu{
    display:inline-block;
    padding-left:20px;
    padding-right:20px;
    text-align:center;
}



li.circle{
    display:inline-block;
    border-radius:50%;
    margin-left:1%;
    width:50px;
    height:45px;
    line-height:45px;
    justify-content:center;

}


li.circle:hover{
        background-color:#88def7;
        border:1px solid #c5eefa;
        color:white;
}

li.circle:hover a{
    color:white;
}


#LeftBar{
    width:48%;
    height:600px;
    margin-right:1%;
    float:left;
    border:solid;
}

#RightBar{
    width:48%;
    height:600px;
    margin-left:1%;
    float:right;
    border:solid;
}


#Content{
    position:relative;
    width:40%;
    margin-left:5%;
    float:left;
}

#SideContent{
    width:30%;
    float:right;
    margin-right:20%;
}

#MainContent{
    height: 700px;
    position:center;
    padding-top:20px;
    padding-left:50px;
    padding-right:50px;
    border-left:50px solid white;
    border-right:50px solid white;
    border-bottom:50px solid white;
}

#rm{
    float:right;
}

.small{
    font-size:18px;
    letter-spacing:normal;
}

#footer{
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
    border-top:1px solid lightgrey;
}